<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Restaurants</h1>
    <div>
        <div>Sleeping Queen</div>
        <div>Dwarves' favorite dishes</div>
        <a href="#">check out</a>
    </div>
    <div>
        <div>Sleeping Queen</div>
        <div>Dwarves' favorite dishes</div>
        <a href="#">check out</a>
    </div>
    <div>
        <div>Sleeping Queen</div>
        <div>Dwarves' favorite dishes</div>
        <a href="#">check out</a>
    </div>
</body>
</html>